*{
	margin: 0px;
	padding: 0px;
}
body{
	background-color: red;
	font-family: "Montserrat+Alternates",cursive;
}
h1{
	padding: 20px 15px 20px 0;
	margin-top: -335px;
	margin-left: 70px;
	font-size: 40px;
}
.background{
	margin-left: 35px;
	margin-top: 60px;
	margin-bottom: 5px;
}
.instagram{
	margin-right: 10px;
	margin-left: 74px;
	margin-bottom: 5px;
}
.twitter{
	margin-right: 10px;
	margin-left: 74px;
	margin-bottom: 5px;
}
.youtube{
	margin-right: 10px;
	margin-left: 74px;
}

li{
	font-size: 22px;
	padding-bottom: 13px;
}

a{
	text-decoration: none;
}
a:visited{
	color: blue;
}

